@model Timesheet

@section CSS {
    <link rel="stylesheet" href="~/css/clock.css" />
}

<div class="card mt-4">
    <div class="card-header">
        <div class="col-12 text-center py-2">
            <h1 class="display-4">Welcome!</h1>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-6 d-flex justify-content-center border-end">
            <div id="watch">
                <div id="digital"></div>
                <div id="hours"></div>
                <div id="minutes"></div>
                <div id="seconds"></div>
            </div>
        </div>
        <div class="col-6 align-content-center">
            <div class="row">
                <div class="col-12 text-center border-1">
                    @if (Model.TimeSpent < new TimeSpan(8, 30, 0))
                    {
                        <h1 class="text-danger">
                            @Model.TimeSpent
                        </h1>
                    }
                    else
                    {
                        <h1 class="text-success">
                            @Model.TimeSpent
                        </h1>
                    }
                </div>
                <div class="col-12 text-center">
                    <form method="post">
                        @if (!Model.Checkout.HasValue)
                        {
                            <button id="btnCheckIn" class="btn btn-primary">Check In</button>
                        }
                        else
                        {
                            <button id="btnCheckOut" class="btn btn-primary">Check Out</button>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/clock.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCheck").on('click', function (event) {
                event.preventDefault();

                $.ajax({
                    url: '/Home/Check',  // Ruta al controlador
                    type: 'POST',        // Método POST
                    success: function (response) {
                        // Mostrar el mensaje en un div o manejar la respuesta
                        // $('#resultMessage').text(response.message);
                    },
                    error: function () {
                        // Manejo de errores
                        // $('#resultMessage').text('Error en la solicitud.');
                    }
                });
            });
        });
    </script>
}